name: Deploy ADF Linked Services

on:
  push:
    branches:
      - main


jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    # Checkout code
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Login to Azure
      run: |
        az login --service-principal -username ${{ secrets.SERVICE_PRINCIPAL_ID }} -password ${{ secrets.SERVICE_PRINCIPAL_KEY }} --tenant ${{ secrets.TENANT_ID }}


    # Deploy linked services
    - name: Deploy Linked Services
      run: |
        # Define variables
        RESOURCE_GROUP="rg-adf-poc"
        ADF_NAME="adf-deployment-poc"
        LINKED_SERVICES_DIR="linkedservices"

        # Deploy each linked service
        for file in $LINKED_SERVICES_DIR/*.json; do
          echo "Deploying $file..."
          az datafactory linked-service create \
            --resource-group $RESOURCE_GROUP \
            --factory-name $ADF_NAME \
            --linked-service-name $(basename $file .json) \
            --properties @$file
        done
